pandas
requests
trafilatura
beautifulsoup4
pdfminer.six
selenium
webdriver-manager
nltk
openpyxl
gensim
pyLDAvis
numpy==1.24.3
scikit-learn==1.1.3
hdbscan
bertopic
sentence-transformers
umap-learn==0.5.3
matplotlib
seaborn