pandas
requests
trafilatura
beautifulsoup4
pdfminer.six
selenium
webdriver-manager
nltk
openpyxl
gensim
pyLDAvis
numpy>=1.25.2,<2.6
scikit-learn>=1.6
hdbscan
bertopic
sentence-transformers
umap-learn==0.5.3
matplotlib
seaborn